.members-list{
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.players-table {
  width: 80%;
  margin: 20px auto;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #000;
}

.players-table thead {
  border-bottom: 1px solid #000;
}

.players-table th,
.players-table td {
  padding: 10px;
  text-align: center;
}

.players-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}
.players-table .delete-btn img{
  width: 40px;
}

/* .players-table  */